@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
div.container {
    height: 1vh;
    display: flex;
}
div.bg {
    flex: auto 1 1;
    width: 100vw;
    height: 100vh;
    background: url("./halie-west-UWni0vqQotc-unsplash.jpg") no-repeat center/cover border-box;
}
div.bg > .bg-transparent {
    position: relative;
    top: min(10vh,200px);
    height: max(100px,20vh);
    background: rgb(255, 255, 255,0.3);

    display: flex;
    justify-content: center;
    align-items: center;
}
div.bg > .bg-transparent > img.logo {
    height: 85%;
}
div.bg > .bg-transparent > div.text-logo {
    font-family: "Norse-Bold", serif;
    font-size: 7em;
    color: white;
}
div.content-area {
    flex: auto 2 1;
    /* padding: 2rem; */
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
div.content-area > .content-text {
    padding: 2em 1em 1em 1em;
}
div.content-area > .form-area {
    /* height: 30vh; */
}
.form > .form-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 max(10vw,20px) 2vh 2vw;
}
.form > .form-box > .all-inputs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: min(5vw,30px);

    font-size: 0.5em;
    color: rgb(0, 0, 0,0.8);
    font-weight: bold;
    padding-top: 2vh;
    padding-bottom: 2vh;
    /* box-shadow: 0px 5px 5px 1px rgb(0, 0, 0,0.2); */

}
.form > .form-box > .all-inputs > .input {
    display: flex;
    flex-direction: column;

    width: 20vw;
    > input {
        appearance: none;
        border: 2px solid #E5E7Eb;
        height: 3vh;
        font-size: 1rem;
    }
    > input:focus {
        border: 2px solid rgb(18, 18, 248);
    }
    > input:required:user-invalid {
        border: 2px dashed red;
    }
}
.form > .submit-button {
    appearance: none;
    margin-top: 10px;
    margin-left: 2vw;
    padding: 1vh 2vw 1vh 2vw;
    border: 0;
    border-radius: 5px ;
    background-color: #596D48;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.form > .submit-button:focus {
    border: 1px solid black;
}
.all-inputs > div.input:nth-child(5) > input+span[class="error active"] {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
}
.all-inputs > div.input:nth-child(6) > input+span[class="error active"] {
    width: 100%;
    padding: 0;
  
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
  
    box-sizing: border-box;
}